:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: "Open Sans", "Segoe UI", "Roboto", "Helvetica Neue", Arial,
    sans-serif;
}

* {
  box-sizing: border-box;
}
